<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
</head>
<body>
<h1>Doctors</h1>
<a href="/doctors/add">Add Doctor</a>
<table border="1">
    <tr>
        <th>Image</th>
        <th>Id</th>
        <th>Name</th>
        <th>SurName</th>
        <th>Email</th>
        <th>Specialty</th>
        <th>PhoneNumber</th>
        <th>Action</th>
    </tr>
    <tr th:each="doctor :${doctors}">
        <td>
            <img th:if="${doctor.getProfilePic() != null}" th:src="@{/getImage(imageName=${doctor.getProfilePic()})}" width="55"/>
        </td>
        <td th:text="${doctor.id}"></td>
        <td th:text="${doctor.name}"></td>
        <td th:text="${doctor.surname}"></td>
        <td th:text="${doctor.email}"></td>
        <td th:text="${doctor.specialty}"></td>
        <td th:text="${doctor.phoneNumber}"></td>
        <td><a th:href="@{/doctors/remove(id=${doctor.id})}">delete</a> </td>
    </tr>
</table>
</body>
</html>